@charset "utf-8";

*{margin: 0; padding: 0;}
ul li{list-style: none;}
/*공통 설정*/
body{width: 100%; height: 1080px; background: url(../images/bg.jpg) no-repeat; background-size: cover;}
/*배경 삽입*/
#left{width: 100%; height: 159px; position: absolute; bottom: -100px; right: 0; overflow: hidden;}
#left>ul{width: 100%; height: 159px; position: absolute; bottom: 0px; right: 0;}
#left>ul>li{float: right;}
/*오왼 차량 위치 설정*/
#left>ul>li:nth-child(3){width: 192px; height: 113px; position: absolute; bottom: 0; right: 0;
animation-name: li3;
animation-duration: 8s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: normal;}
@keyframes li3 {
    from{right: 0; bottom: 0;}
    to{right: 100%; bottom: 0;}}
/*car1 애니메이션 설정*/
#left>ul>li:nth-child(2){width: 203px; height: 139px; position: absolute; bottom: 0; right: -203px;
    animation-name: li2;
    animation-duration: 8s;
    animation-delay: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;}
@keyframes li2 {
    from{right: -203px; bottom: 0;}
    to{right: 100%; bottom: 0;}}
/*car2 애니메이션 설정*/
    #left>ul>li:nth-child(1){width: 193px; height: 159px; position: absolute; bottom: 0; right: -193px;
        animation-name: li1;
        animation-duration: 8s;
        animation-delay: 3.8s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;}
    @keyframes li1 {
        from{right: -193px; bottom: 0;}
        to{right: 100%; bottom: 0;}}
/*car3 애니메이션 설정*/
#right{width: 100%; height: 159px; position: absolute; bottom: -130px; left: 0;}
#right>ul{width: 100%; height: 159px; position: absolute; bottom: 0; left: 0; overflow: hidden;}
#right>ul>li{float: left;}
/*왼오 차량 위치 설정*/
#right>ul>li:nth-child(1){width: 193px; height: 138px; position: absolute; bottom: 0; left: 0;
    animation-name: rli1;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;}
@keyframes rli1{
    from{left: -193px; bottom: 0;}
    to{left: 100%; bottom: 0;}}
/*왼오 차량1 애니메이션 설정*/
#right>ul>li:nth-child(2){width: 191px; height: 115px; position: absolute; bottom: 0; left: -200px;
    animation-name: rli2;
    animation-duration: 8s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;}
@keyframes rli2{
    from{left: 0; bottom: 0;}
    to{left: 100%; bottom: 0;}}
/*왼오 차량2 애니메이션 설정*/
#right>ul>li:nth-child(3){width: 192px; height: 113px; position: absolute; bottom: 0; left: -200px;
    animation-name: rli3;
    animation-duration: 8s;
    animation-delay: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;}
@keyframes rli3{
    from{left: 0; bottom: 0;}
    to{left: 100%; bottom: 0;}}
/*왼오 차량3 애니메이션 설정*/
#right>ul>li:nth-child(4){width: 191px; height: 115px; position: absolute; bottom: 0; left: -200px;
    animation-name: rli4;
    animation-duration: 8s;
    animation-delay: 4.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;}
@keyframes rli4{
    from{left: 0; bottom: 0;}
    to{left: 100%; bottom: 0;}}
/*왼오 차량4 애니메이션 설정*/
